body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.containerOne {
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
}

.titleFlex {
  display: flex;
  align-self: center;
}

.inputOneFlex {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.inputTwoFlex {
  display: flex;
  align-self: center;
}

.buttonFlex {
  display: flex;
  align-self: center;
}

.resultBoardTeams {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vh;
  border-radius: 5px;
  max-width: 100%;
}

h1 {
  color: maroon;
  font-size: 5vh;
}

p {
  margin-left: 1vw;
}

.addText {
  position: absolute;
  font-size: 2vh;
  color: maroon;
  margin-top: -25px;
  margin-left: -290px;
}

#nameOne {
  font-size: 2vh;
  width: 400px;
  height: 50px;
  color: maroon;
  border: 3px solid;
  border-radius: 20px;
  padding-left: 1vw;
}

#output {
  font-size: 2vh;
  width: 400px;
  height: 200px;
  color: maroon;
  border: 3px solid;
  border-radius: 20px;
}

#list {
  font-size: 2vh;
  width: 400px;
  height: 200px;
  color: maroon;
  border: 3px solid;
  border-radius: 20px;
  padding-left: 1vw;
  padding-top: 1vh;
}

.resultBoard {
  font-size: 2vh;
  color: maroon;
}

#btnAdd {
  background-color: maroon;
  border: none;
  color: white;
  font-size: 2vh;
  width: 400px;
  height: 50px;
  border-radius: 20px;
}

.inputOneButton {
  display: flex;
  justify-content: center;
}

.inputOneNumberFlex {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.removeButton {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

#btnRemove {
  background-color: maroon;
  border: none;
  color: white;
  font-size: 2vh;
  width: 400px;
  height: 50px;
  border-radius: 20px;
}

.inputTwoFlex {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  margin-top: 19px;
}

#numberTeam {
  font-size: 2vh;
  width: 400px;
  height: 50px;
  color: maroon;
  border: 3px solid;
  border-radius: 20px;
}

#buttonShuffle {
  background-color: maroon;
  border: none;
  color: white;
  font-size: 2vh;
  width: 400px;
  height: 50px;
  border-radius: 20px;
}

#resetButton {
  background-color: maroon;
  border: none;
  color: white;
  font-size: 2vh;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  margin-top: 2vh;
}

.addTextTeams {
  font-size: 2vh;
  color: maroon;
  margin-top: -25px;
  margin-left: -290px;
  position: absolute;
}

textarea,
input {
  margin-bottom: 1vh;
}
